@import url("header.css");
@import url("sidebar.css");
@import url("main.css");

body {
    background-color: rgb(65, 25, 130);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr 60px;
    grid-template-areas: 
    "hd"
    "mn"
    "ft";
    height: 100vh;
}

@media screen and (min-width: 649px) {
    .homePost-image img {
        margin-top: -70px;
    }
}

@media screen and (min-width: 803px) {
    .homePost-image img {
        margin-top: -95px;
    }
}

@media screen and (min-width: 986px) {
    .homePost-image img {
        margin-top: -105px;
    }
}

@media screen and (min-width: 1017px) {
    .homePost-image img {
        margin-top: -115px;
    }
}

@media screen and (min-width: 1228px) {

    body {
        display: grid;
        width: 60%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 1fr 20px;
        grid-template-areas:
            "hd hd hd hd"
            "mn mn mn mn"
            "ft ft ft ft";
        margin-left: auto;
        margin-right: auto;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: hd;
    }
    
    .main {
        border: 2px sold black;
        grid-area: mn;
        display: grid;
        grid-template-columns: 1fr 260px;
        grid-template-rows: 1fr;
        grid-template-areas:
            "main side"
    }
    
    .main-content {
        grid-area: main;
    }
    
    .sidebar {
        grid-area: side;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 1.5em;
    }
    
    .about {
        display: contents;
    }
    
    article {
        border: none;
        box-shadow: none;
    
    }
    
    article:hover, article:active {
        box-shadow: none;
    }
    
    
    .quote {
        border: 1px solid black;
    }
    
    footer {
        grid-area: ft;
    }

    .homePost-image img {
        margin-top: -15px;
    }
    }

    @media screen and (min-width: 1464px) {
        .homePost-image img {
            margin-top: -65px;
        }
    }