@import url("header.css");
@import url("sidebar.css");
@import url("main.css");

body {
    background-color: rgb(65, 25, 130);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr 60px;
    grid-template-areas: 
    "hd"
    "mn"
    "ft";
    height: 100vh;
}